@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: monospace;
    font-weight: 700;
    font-size: 24px;
    color: black;
    background-color: white;
    border: none;
    
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input, number, textarea{
    color:hsl(183, 100%, 15%);
}

body{
    background-color: hsl(185, 41%, 84%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


p{
    font-size: 18px;
}

#calculator{
    display: flex;
    margin: auto;
    background-color: white;
    border-radius: 15px;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!
INPUT DIV
!!!!!!!!!!!!!!!!!!!!!!!! */

#input-div{
    background-color: white;
    margin: 15px 35px 35px 35px;
    width: 360px;
}

.values{
    background-color: white;
}

#custom-tip-button{
    background-color: hsl(189, 41%, 97%);
    color:hsl(183, 100%, 15%);
    cursor: text;
}

#custom-tip-button::placeholder{
    text-align: center;
}

.tip-button{
    width: 105px;
    height: 45px;
    border-radius: 7%;
    background-color: hsl(183, 100%, 15%);
    color: white;
    border: none;
    margin-top: 15px;
    margin-right: 12px;
    cursor: pointer;
}

.tip-button:hover{
    background-color: hsl(185, 41%, 84%);
    color:hsl(183, 100%, 15%)
}


.input-label{
    color: hsl(186, 14%, 43%);
    margin-top: 35px;
    margin-bottom: 5px;
}

#tip-label{
    margin-bottom: -7px;
}

.num-input{
    background-color: hsl(189, 41%, 97%);
    border: 1px solid hsl(189, 41%, 97%);
    border-radius: 5px;
    font-size: 24px;
    height: 30px;
    width: 100%;
}

.label-error-div{
    display: flex;
    justify-content: space-between;
}

.input-error{
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 5px;
    font-size: 14px;
    color: red;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
DISPLAY
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#display{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    padding: 30px;
    background-color: hsl(183, 100%, 15%);
    width: 340px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tip-div{
    background-color: hsl(183, 100%, 15%);
    display: flex;
    flex-direction: column;
}

.money{
    background-color: hsl(183, 100%, 15%);
    display: block;
    color: hsl(172, 67%, 45%);
    font-size: 35px;
}

.labels{
    background-color: hsl(183, 100%, 15%);
}

.money-label{
    background-color: hsl(183, 100%, 15%);
    color:hsl(186, 14%, 43%);
    display: block;
}

.main-label{
    color: white;
}

.labels-div{
    background-color: hsl(183, 100%, 15%);
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#reset-button{
    width: 100%;
    height: 40px;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reset-button:hover{
    background-color: hsl(185, 41%, 84%);
    
}


@media only screen and (max-width: 900px) {
    #calculator {
      flex-direction: column;
    }

    #display{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 30px;
    }
  }